.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #ddd;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  list-style: none;
  margin-right: 1rem;
}


.header button.wallet_connect {
  padding: 10px;
  background-color: chocolate;
  color: white;
  border-radius: 10px;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.header button {
  padding: 10px;
  margin-right: 10px;
}


 /* .nav button {
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-size: 10px;
  border: none;
  outline: none;
  cursor: pointer;
} */